.Header {
  padding: 40px;
  display: flex;
  align-content: center;
}

.Logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .3s ease-out;
  &:hover {
    transform: scale(1.2);
  }
  & a {
    color: white;
    text-decoration: none;
  }
}

.Menu {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MenuList {
  display: flex;
  list-style-type: none;
  color: white;
  margin: 0;
}

.MenuItem {
  padding: 4px;
  margin: 0 4px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background: red;
  }
  & a {
    color: white;
    text-decoration: none;
  }
}

.Search {
  width: 50%;
  display: flex;
  align-items: center;
}

.Avatar {
  width: 15%;
}

@media screen and (max-width: 1024px) {
  .Header {
    padding: 16px;
  }

  .Search {
    width: 35%;
    margin-right: 40px;
  }

  .Input-container {
    width: 80%;
  }

  .MenuList {
    padding-left: 16px;
  }
}
